.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px 39px 40px 41px;
  width: 528px;
  min-height: 581px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1) rotate(360deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label {
  position: absolute;
  margin: 0;
  top: 70%;
  left: 4%;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 1.17;
  color: #757575;
  transform: translateY(-100%);

  transition: transform 250 ms var(--cubic);
}

.form-input {
  width: 100%;
  margin: 0;
  padding-left: 30px;
  padding-top: 14px;
  font: inherit;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-color 250ms var(--cubic);
  background: #ffffff;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-55px) translateX(-14px);
  transition: transform 250ms var(--cubic);
}

.form-input:hover + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  outline: var(--accent-color);
  color: var(--accent-color);
  transition: color 250ms var(--cubic), outline 250ms var(--accent-color);
}

.form-input:focus {
  outline: var(--accent-color);
}

.checkbox-text {
  display: flex;
  width: 400px;
  margin-bottom: 30px;
  margin-left: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

textarea {
  resize: none;
  transition: border 250ms var(--accent-color);
}

textarea:hover,
.form-input:hover {
  border: 1px solid var(--accent-color);
  transition: border 250 ms var(--accent-color);
}

.form-label-feedback:focus {
  border: 1px solid var(--accent-color);
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-left: 16px;
  user-select: none;
}

.custom-checkbox + label::before {
  position: absolute;
  content: '';
  display: flex;
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
  transform: translateY(-15px);
  background-repeat: no-repeat;
  background-position: center center;
}

.custom-checkbox:checked + label::before {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.link-check {
  margin-left: 3px;
  color: var(--accent-color);
  text-decoration: underline;
}

/* .icon-check {
  display: flex;
  justify-content: start;
  margin-left: 57px;
  margin-right: 9px;
} */

/* .form-label-check {
  width: 400px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
} */

/* .check {
  text-decoration: underline;
  color: var(--accent-color);
  white-space: nowrap;
} */

/* .checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

/* .icon-check {
  position: absolute;
  width: 16px;
  height: 15px;
  background-image: url(./images/symbol-defs1.svg#check);
} */
/* 
.chek-modal {
  margin-bottom: 30px;
} */

.modal-link.btn {
  margin: 0 auto;
}

.icon-form {
  position: absolute;
  content: '';
  margin-left: 15px;
  margin-right: 15px;
  top: 0;
  left: 0;
  /* transform: translateY(-270%); */
  transform: translateY(450%);
  transition: transform 250ms var(--cubic);
  overflow: hidden;
}

.form-field-modal {
  margin-bottom: 28px;
  position: relative;
  content: '';
  /* overflow: hidden; */
}

.icon-form {
  margin-left: 15px;
  margin-right: 15px;
  transform: translateY(420%);
  transition: transform 250ms var(--cubic);
  opacity: 0;
}

textarea {
  padding: 12px;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-label-feedback {
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 1.17;
  color: #757575;
}

label {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 7px; */
}

.form-input:focus-within ~ .icon-form {
  transform: translateY(80%);
  fill: var(--accent-color);
  transition: transform 250ms var(--cubic);
  opacity: 1;
}

.form-field-modal {
  margin-bottom: 28px;
  position: relative;
  content: '';
}

.modal-title {
  width: 448px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 28px;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal-close-btn {
  position: absolute;
  left: calc(100% - 38px);
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn .icon-contacts {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 0;
}

.modal-close-btn:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: visible;
}

.features-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: 0;
}

.icon-features:hover {
  fill: var(--accent-color);
}

.features-list li:not(:first-child) {
  margin-left: 30px;
}

.features-list-article {
  display: flex;
  align-items: center;
  padding: 25px 100px;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background: var(--additional-background-color);
  border-radius: 4px;
}

.features-item-title {
  width: 270px;
  margin: 0 auto 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.features-item-text {
  width: 270px;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--title-text-color);
}

.overlay {
  display: inline-block;
  content: '';
  position: absolute;
  text-align: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  left: 0;
}

.galery-item-image {
  display: block;
  max-width: 100%;
  object-fit: cover;
  z-index: 1;
}

.galery-item-title {
  position: absolute;
  content: '';
  left: 25%;
  bottom: 27px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}

.galery .container {
  padding-bottom: 94px;
}

.galery-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.galery-list li:not(:first-child) {
  margin-left: 30px;
}

.galery-list-item {
  position: relative;
  display: block;
  max-width: 100%;
}

.galery-title {
  width: 376px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--title-text-color);
  text-align: center;
  margin: 0 auto 50px;
}

ul.galery-list {
  padding: 0;
  margin: 0;
}

a.galery-list-item {
  height: 100%;
  width: 100%;
}

.team-list-item {
  display: inline-block;
  width: 270px;
  justify-content: space-between;
  align-items: center;
}

.team-list-item:not(:first-child) {
  margin-left: 30px;
}

ul.team-list {
  display: flex;
  padding: 0;
  margin: 0;
  text-align: center;
}

.team-thumb {
  display: block;
  margin-bottom: 30px;
}

.team-link {
  fill: var(--primary-text-color);
  align-items: center;
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 44px;
  transition: fill 250ms var(--cubic), background-color 250ms var(--cubic);
}

.icon-team:hover {
  fill: #ffffff;
}

.photo-thumb {
  overflow: hidden;
}

.team-link:hover {
  background-color: var(--accent-color);
  fill: #ffffff;
}

.team > .container {
  padding-top: 94px;
  padding-bottom: 94px;
  padding-left: 15px;
  padding-right: 15px;
}

.team-title {
  margin: 0 auto 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--title-text-color);
  text-align: center;
}

.team-item-image {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.team-list > .team-list-item {
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
    1px 4px 6px rgb(0 0 0 / 16%);
}

.text-thumb {
  padding: 30px 0;
  background: rgba(255, 255, 255, 1);
}

.team-item-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  color: var(--title-text-color);
}

.team-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}

.icon-team:not(:first-child) {
  margin-left: 10px;
}

.icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .icon-list {
  padding: 0 0 0;
}

.client-title {
  margin: 0 auto 50px;
  font-weight: 700px;
  font-size: 36px;
  line-height: 42, 19px;
  color: var(--title-text-color);
  text-align: center;
}

.client > .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.icon-client {
  display: block;
  align-items: center;
  margin: auto;
  fill: var(--primary-text-color);
}

.icon-client {
  fill: currentColor;
}

.client-list-link:hover {
  background-color: #ffffff;
  color: var(--accent-color);
  border-color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list-item {
  display: block;
  color: var(--primary-text-color);
  background-color: #ffffff;
}

.client-list {
  display: flex;
  width: calc(100% - 30px / 6);
  justify-content: space-between;
  align-items: center;
}

ul.client-list {
  padding: 0;
  margin: 0;
  text-align: center;
}

.client-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address-map {
  display: flex;
  padding-bottom: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  transition: color 250ms var(--cubic);
}

.footer-address-map:hover {
  color: var(--accent-color);
  transition: color 250ms var(--cubic);
}

.footer-email,
.footer-tel {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--mailtel-logo-color);
  transition: color 250ms var(--cubic);
}

.footer-email {
  padding-bottom: 9px;
}

.footer-email:hover {
  color: var(--accent-color);
  transition: color 250ms var(--cubic);
}

.footer-tel:hover {
  color: var(--accent-color);
  transition: color 250ms var(--cubic);
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
  text-decoration: none;
}

.thumb {
  margin-left: 70px;
}

.thumb-title {
  display: block;
  height: 16px;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 20px;
  color: var(--main-background-color);
}

.thumb-link {
  display: inline-block;
  align-items: center;
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--main-background-color);
  transition: background-color 250 ms var(--cubic);
}

.thumb-link:hover {
  background-color: var(--accent-color);
  transition: background-color 250 ms var(--cubic);
}

.icon-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer {
  padding: 60px 0;
}

.footer-info {
  display: flex;
  justify-content: flex-start;
  align-items: inherit;
}

.subscription {
  margin-left: 93px;
}

.subscription-title {
  display: block;
  height: 16px;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 1.14;
  color: var(--main-background-color);
  text-transform: uppercase;
}

.form-field {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

input {
  width: 358px;
  padding: 0;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: var(--slogan-footer-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
/* 
label {
  margin-bottom: 8px;
} */

.icon-send {
  margin-left: 10px;
  fill: #ffffff;
}

.btn-send {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  padding-left: 29px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.portfolio {
  padding-top: 94px;
}

.portfolio-button-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-button-list li:not(:first-child) {
  margin-left: 8px;
}

.portfolio-button {
  display: inline-block;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-decoration: none;
  min-width: 145px;
  color: var(--title-text-color);
  background-color: var(--additional-background-color);
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic);
}

.portfolio-button:hover {
  color: #fff;
  background-color: var(--accent-color);
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
    1px 4px 6px rgb(0 0 0 / 16%);
}

.portfolio-button:focus {
  color: #fff;
  background-color: var(--additional-background-color);
}

.card-thumb {
  position: relative;
  content: '';
  overflow: hidden;
}

.overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  padding: 63px 24px;
  text-align: start;
}

.overlay-card {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .overlay-card {
  transform: translateX(0);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  padding-bottom: 94px;
}

.portfolio-list > .portfolio-list-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio-list > .portfolio-list-item:hover {
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
    1px 4px 6px rgb(0 0 0 / 16%);
}

.portfolio-item-image {
  display: block;
  object-fit: cover;
  max-width: 100%;
}

.portfolio-text-thumb {
  border: 1px solid rgba(238, 238, 238, 1);
  padding: 20px 24px;
  background: rgba(255, 255, 255, 1);
}

.portfolio-item-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--title-text-color);
}

.portfolio-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}
