.features-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: 0;
}

.icon-features {
  fill: currentColor;
  transition: fill 250ms $cubic;

  &:hover {
    fill: $accentColor;
    transition: fill 250ms $cubic;
  }
}

.features-list li:not(:first-child) {
  margin-left: 30px;
}

.features-list__article {
  display: flex;
  align-items: center;
  padding: 25px 100px;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background: $additionalBackgroundColor;
  border-radius: 4px;
}

.features-item__title {
  width: 270px;
  margin: 0 auto 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $titleTextColor;
}

.features-item__text {
  width: 270px;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: $titleTextColor;
}
