$primaryTextColor: #757575;
$titleTextColor: #212121;
$accentColor: #2196f3;
$logoColor: #ffffff;
$mailtelLogoColor: rgba(255, 255, 255, 0.6);
$sloganFooterColor: #2f303a;
$additionalBackgroundColor: #f5f4fa;
$borderColor: rgba(236, 236, 236, 1);
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
